
@{
    ViewBag.Title = "AdminPage";
}


<div class="row">
    <div class="col-md-6">@Html.Action("CategoriesForAdmin")</div>
    <div class="col-md-6">@Html.Action("UsersFodAdmin")</div>
</div>
<div class="row">
    <div class="col-md-6">@Html.Action("QuestionForAdmin")</div>
    <div class="col-md-6">@Html.Action("CommentForAdmin")</div>
</div>