@using EPAM.SUMMER.FORUM.ZHELDAK.Infrastructure.Pagination
@using EPAM.SUMMER.FORUM.ZHELDAK.ViewModels
@model IndexViewModel<QuestionViewModel>
@{
    ViewBag.Title = "ShowQuestion";
}


<div class="row">
    <div class="col-md-4 ">
        <h1 class="text-center category-ref"> <a href=@Url.Action("MainPage", "Category") >&#8249 @ViewBag.Category</a></h1>
    </div>
    <div class="col-md-4 ">
        <h1 class="text-center">QUESTIONS</h1>
    </div>
</div>
<br /><br />

<div id="update">
    @Html.Partial("PartialShowQuestion", Model)
</div>