@using EPAM.SUMMER.FORUM.ZHELDAK.ViewModels.CategoryModels
@model CategoryViewModel

@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>

    @Html.Partial("PartialCreate",Model)

    @Html.ActionLink("Back to List", "Admin", "Admin")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
