@using EPAM.SUMMER.FORUM.ZHELDAK.Infrastructure.Pagination
@using EPAM.SUMMER.FORUM.ZHELDAK.ViewModels.CategoryModels
@model IndexViewModel<CategoryViewModel>

@{
    ViewBag.Title = "MainPage";
}
<br />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 class="text-center">CATEGORIES</h1>
    </div>
</div>
<br /><br />
<div id="update">
    @Html.Partial("PartialShowCategory", Model)
</div>

@section Autocomplete{
    <li><input type="text" id="auto-field" style="height: 39px;" class="navbar-form form-control" placeholder="Search"></li>
    <li><a id="search" href=""><span class="glyphicon glyphicon-search"></span></a></li>
}

@section Scripts {
<script src="/Scripts/autocomplete.js"></script>
   
}
