.userPhoto {
    
    max-width: 250px;
    margin-top: 10px;
}
.account-user {
    margin-top: 10px;
}
.account-user td:first-child {
    color: #798d92;
}


.account-user td {
    border-bottom: 1px solid #1c1a1d;
}

.account-user td:last-child {
    color: #a7a7ad;
    text-align: right;
}
.account-user span.glyphicon.glyphicon-cog {
   color: grey;
}
.account-user span.glyphicon.glyphicon-cog:hover {
    color: lightgrey;
}

a.btn-add-question {
    padding-left: 10px;
    margin-left: 15px;
    margin-top: 10px;
    width: 249px;
    background-color: #222222;
    color: aliceblue;
    }
.account-user li {
    color: black;
}