body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-attachment: fixed;
    background-image: url(/Image/Back.jpg);
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(0,0,0,0.7);
    min-height: 496px;
    color: #b0b9b9;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.category {
    vertical-align: middle;
}

    .category a {
        font-size: larger;
        height: 60px;
        text-align: center;
        border-radius: 30px;
        background-color: #222222;
        display: block;
        padding: 20px 14px;
        color: #b0b9b9;
        text-decoration: none;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

        .category a:hover {
            background-color: #f5f5f5;
            color: black;
        }

.question {
    margin-bottom: 25px;
    border-radius: 4px;
    min-height: 100px;
    padding: 10px 10px;
}

    .question a {
        color: #b0b9b9;
        text-decoration: none;
    }

    .question.table > tr:hover {
        color: #b0b9b9;
    }

    .question tbody tr:hover {
        color: black;
    }

    .question tr:hover a {
        color: black;
    }

.comment {
    padding: 80px 30px !important;
}

.row h6 {
    padding-left: 50px;
}

.textComment {
    border: 1px solid #202120;
    max-width: 424px;
    margin-top: 35px;
    padding: 5px 5px;
    border-radius: 5px;
    min-height: 100px;
}

.date {
    color: #565555;
    margin-left: 303px;
}

.comment-area {
    margin-left: 477px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #202120;
    max-width: 423px;
}

input.btn-comment {
    margin-left: 465px;
    color: cadetblue;
    background: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 0 !important;
    border-radius: 5px;
}

input {
    outline: none;
}

.category-ref a {
    color: #b0b9b9;
    text-decoration: none;
}

th.no-border {
    border: none !important;
}

h6.user-name {
    margin-bottom: -25px;
    margin-left: -45px;
    color: #565555;
}

.col-md-1 input[type="checkbox"] {
    min-height: 130px;
    text-align: right;
    padding-top: 65px;
    margin-left: 35px;
    width: 50%;
}

#question-table {
    min-height: 300px;
}

.page-conteiner {
    margin: 0 auto;
    text-align: center;
}

.btn-page {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    color: aliceblue;
}



    .btn-page a {
        background-color: #99998a;
        padding: 5px;
        border-radius: 51%;
        width: 28px;
        display: block;
        color: white;
        text-decoration: none;
    }

        .btn-page a:hover {
            background-color: #f5f5f5;
            color: black;
        }

    .btn-page.disabled,
    .btn-page[disabled] {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.65;
    }

.circle {
    margin: 0 auto;
    padding-top: 31px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #222222;
}


    .circle:active {
        color: black;
        background-color: white;
        box-shadow: 0px 0px 30px rgba(111,110,110,1);
    }
